$color-text-primary: var(--text-primary);
$color-text-secondary: var(--text-secondary);
$color-line-color: var(--line-color);
$color-background-color: var(--background-color);
$color-html-background-color: var(--html-background-color);

$color-black: #000;
$color-white: #fff;
