@mixin h1($class) {
  #{$class} {
    display: block;
    font-weight: 300;
    font-size: 80px;
    font-family: 'Quicksand', 'Source Sans Pro', Arial, sans-serif;
    letter-spacing: 1px;

    @include set-theme-var(h1);

    @content;
  }
}
