$theme-light: (
  body: #fff,
  h1: #35495e,
  text: #000,
);

$theme-dark: (
  body: #1f1f1f,
  h1: #8eacc2,
  text: #fff,
);

@mixin combine-theme-colors($theme) {
  @each $color-name, $color-value in $theme {
    --#{$color-name}: #{$color-value};
  }
}

@mixin set-theme-var($value: null, $property: color, $transition: true) {
  #{$property}: var(--#{$value});
  @if ($transition) {
    transition: $property 0.15s ease;
  }
  @content;
}
