@import './_mixins/media';
@import './_vars/colors';

// ----- GENERAL STYLES -----
html {
  box-sizing: border-box !important;
}

*,
*::before,
*::after {
  box-sizing: inherit !important;
}

body {
  @include set-theme-var(body, background);
}

.light-mode {
  @include combine-theme-colors($theme-light);
}

.dark-mode {
  @include combine-theme-colors($theme-dark);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}
